<%= content_for :thetitle do %>
  Edit Theme Settings
<% end %>
<p>Here you can configure various options that your theme provides.</p>
<div class="themesettings">
	<%= form_tag( :controller => "admin/theme_settings", :action => "save", :theme => @model.theme) do %>
    <%= render :partial => "themes/#{@model.theme}/partials/settings" %>
    <div class="actions">
      <input type="submit" value="Save Changes" class="btn" />
    </div>
	<% end %>
</div>

