<div class="hero-unit">
    <h1>Hey buddy!</h1>
    <p>Not just anyone can come back here. You have to know
    what we in the bizz call "the password".</p>
</div>

<div class="row">
    <div class="span-two-thirds">
        <h2>Artigo</h2>
        <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span-one-third">
        <h2>Log In</h2>
        <p>
            <%= render :partial => "admin/shared/login_form" %>
        </p>
    </div>
</div>
