/* Pretty printing styles. Used with prettify.js. */

.str { color: #A31515; }
.kwd { color: #0000FF; }
.com { color: #008000; }
.typ { color: #2B91AF; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.code { font-size: 12px; padding: 10px; border: 1px solid #cacaca; background-color: white; }

@media print {
  .str { color: #A31515; }
  .kwd { color: #0000FF; font-weight: bold; }
  .com { color: #008000; font-style: italic; }
  .typ { color: #2B91AF; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
