<strong>
  <%= link_to "Tidy up a bit", admin_tidyup_path %>
   <span style="color: red">Advanced Users Only!</span>
</strong>
<p>Things getting out of hand? I understand. Go here to clean up your blog.</p>

<strong>
  <%= link_to "Change site settings", admin_config_edit_path %>
</strong>
<p>Artigo is all about you. Make your copy <em>your</em> copy.</p>

<strong>
  <%= link_to "Change your password", edit_admin_password_path %>
</strong>
<p>Password smelling a bit stale? Freshen it up right over here!</p>
