<fieldset>
  <legend>Codeimpossible Theme Settings</legend>
	<div class="clearfix">
      <label for="avatar">Avatar Url</label>
      <div class="input">
          <input name="avatar" type="text" value="<%= @model.setting('avatar') %>" />
      </div>
  </div>
  <div class="clearfix">
      <label for="footer">Footer Text</label>
      <div class="input">
          <textarea name="footer"><%= @model.setting('footer') %></textarea>
      </div>
  </div>
</fieldset>
