<style type="text/css">
    @import url(/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css);
    html, body, * {
        margin: 0;
        padding: 0;
    }
</style>
<%= form_for Media.new, :url => admin_media_path(Media.new), :method => :post do |f| %>
    <div id="uploader" style="width: 700px; height: 300px;">
        Your browser is not supported.
    </div>
<%- end -%>
<br />

<%= content_for :foot do %>
    <script type="text/javascript"
    <script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
    <script type="text/javascript" src="/plupload/js/plupload.js"></script>
    <script type="text/javascript" src="/plupload/js/plupload.html4.js"></script>
    <script type="text/javascript" src="/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>

    <script type="text/javascript">
        (function($){
            // Setup html4 version
            $("#uploader").pluploadQueue({
                // General settings
                runtimes : 'html4',
                url : '/admin/media',
                unique_names : false,
                multipart_params: {
                    'authenticity_token': '<%= form_authenticity_token %>'
                },
                filters : [
                    {title : "Image files", extensions : "jpg,gif,png"}
                ]
            });
            $('form').submit(function(e) {
                var uploader = $('#uploader').pluploadQueue();

                // Files in queue upload them first
                if (uploader.files.length > 0) {
                    // When all files are uploaded submit form
                    uploader.bind('StateChanged', function() {
                        if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                            $('form')[0].submit();
                        }
                    });

                    uploader.start();
                } else {
                    alert('You must queue at least one file.');
                }

                return false;
            });
        })(jQuery);
    </script>
<% end %>
