<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Admin Home", admin_path %></li>
      <li><%= link_to "Manage your posts", admin_posts_path %></li>
      <li><%= link_to "Create a new post", new_admin_post_path %></li>
      <li>&nbsp;</li>
      <li><%= content_for :sidebar %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
