<div class="userbar">
	<ul>
		<li>Welcome, <%= current_user.login %>!
		<li></li>
		<li><a href="/admin">Admin Home</a></li>
		<li><a href="/posts/new">Create a new Post</a></li>
		<li><a href="/logout">Log out</a></li>
	</ul>
</div>